body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: blueviolet;
}

.header_div {
    background-color: darkblue;
    color: white;
}

.header_div p {
    font-family: monospace;
    color: violet;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: bold;
}

.main_div button {
    font-family: cursive;
    margin-top: 30px;
    width: 120px;
    font-weight: 800;
    letter-spacing: 3px;
    box-shadow: 5px 5px 5px black;
}

.copy_right_footer {
    font-family: fantasy;
    font-size: x-large;
    color: white;
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-shadow: 5px 5px 5px black;
}